<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Магазин мандаринок</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <h1>🍊 Магазин мандаринок 🍊</h1>
        <nav>
            <a href="/">Головна</a> |
            <a href="/profile">Мій профіль</a>
        </nav>
    </header>
    <main>